Welcome to Bedlam!

Click here to complete your registration: <%= url_for(activate_membership_activation_token_url(@token, protocol: "https")) %>

Kind Regards,

The Bedlam Theatre Committee and The Project Black Lightning Team
