<h1><%= @title %></h1>

<table class="table">
  <tr>
    <th>Subject</th>
    <th>Is Send</th>
    <th>Send Date</th>
    <% if can?(:edit, MassMail) %>
      <th></th>
    <% end %>
  </tr>

<% @mass_mails.each do |mass_mail| %>
  <tr>
    <%= get_link mass_mail, :show, link_text: get_subject(mass_mail), wrap_tag: 'td' %>

    <td><%= bool_icon(!mass_mail.draft) %></td>
    <td><%= get_send_date(mass_mail) %></td>
    
    <% if can? :edit, mass_mail %>
      <td>
        <%= get_link mass_mail, :edit, additional_condition: mass_mail.draft %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate(@mass_mails) %>

<%= get_link MassMail, :new %>
