<h1><%= @title %></h1>

<%= display_block("Editable Blocks", true) %>

<br />
<br />

<div class="accordion" id="ediable_block_accordion">
<% @editable_blocks.each do |group, editable_blocks| %>
  <%= render 'editable_block', group: group, editable_blocks: editable_blocks %>
<% end %>
</div>

<% if can? :new, Admin::EditableBlock %>
  <%= get_link Admin::EditableBlock, :new %>
<% else %>
  <p class="help-block">
    To create new pages, please contact the <%= link_to 'IT subcommittee', 'mailto:it@bedlamtheatre.co.uk' %>.
  </p>
<% end %>
