Dear <%= @user.name_or_email %>,

This is a <%= @new_debtor ? 'notification' : 'reminder' %> that you became in debt to the company on <%= @debt_moment %>. You become in debt if you haven’t signed up to staff or attended maintenance in the appropriate time period after being involved in a show. If you feel you should not be in debt to the company, please check here: https://edinburghuniversitytheatrecompany.github.io/StaffingFAQs/StaffingFAQs.html, and then contact the Theatre Manager regarding maintenance debt (theatre@bedlamtheatre.co.uk) or the Front of House Manager for staffing debt (foh@bedlamtheatre.co.uk).

While in debt you can’t become involved in a new production in any capacity (including auditioning, being cast, or taking on a non-core team or assistant production role). This will not affect any projects that you are already committed to.

Clearing debt is quite easy. If you are in maintenance debt, just attend a maintenance session (12pm on Sundays during term time), and if you are in staffing debt, sign up for a staffing slot <%= url_for admin_staffings_url %> (and then staff it!). If you can’t do either of these please don’t hesitate to contact the Theatre or the Front of House Manager to arrange an alternative way of giving back to the company.

If you have become in debt to the company due to a welfare issue which you would rather not discuss with the Theatre or Front of House Manager, please contact one of the Welfare Officers (welfare@bedlamtheatre.co.uk) or the president (president@bedlamtheatre.co.uk).

Many thanks,


The Bedlam Theatre Committee