<% # Note: If you update this search form, this has some things with q that need to be changed. %>
<% # Definitely in _basic_show for events. Do a ctrl+f for the others. %>

<%= render layout: '/shared/collapsible_section', locals: { title: 'Search Form' } do %>
  <% search_form_for @q, builder: SimpleForm::FormBuilder, url: url, html: { id: "search", class: "form-search" } do |f| %>
    <%= f.input_field :name_cont,            placeholder: "Title",  required: false %>
    <%= f.input_field :publicity_text_or_tagline_cont,  placeholder: "Publicity Text", required: false %>

    <% if current_user.present? && current_user.has_role?(:member) %>
      <%= f.input_field :members_only_text_cont,  placeholder: "Members-Only Text", required: false %>
    <% end %>

    <%= f.input_field :users_full_name_cont, placeholder: "Person Name", required: false %>
    <%= f.input_field :author_cont,          placeholder: "Author", required: false %>
    <%= f.input_field :venue_id_eq,          collection: Venue.accessible_by(current_ability) %>
    <%= f.input_field :event_tags_id_eq,     collection: EventTag.accessible_by(current_ability) %>
    <br>
    <br>

    <%= f.input :start_date_gt, as: :date, label: "Start Date", start_year: Rails.configuration.start_year, end_year: max_end_year, include_blank: true, required: false %>
    <%= f.input :end_date_lt,   as: :date, label: "End Date", start_year: Rails.configuration.start_year, end_year: max_end_year,   include_blank: true, required: false %>

    <%= f.input :show_private_only, label: "Show Private Only", input_html: { id: "show_private_only", checked: params[:show_private_only] == "1" ? true : false, name: "show_private_only" }, as: :boolean %>

    <%= f.submit :Search, class: 'btn btn-primary' %>

    <%= f.submit :Random, class: 'btn' %>
    <%= f.submit 'On this day', class: 'btn' %>
  <% end %>
<% end %>
