<% error = f.error(:image).present? || f.error(:gallery).present? || f.error(:description).present? %>

<div class="control-group fields well <%= "error" if error %>">
    <%= f.hidden_field :id %>

    <%= f.association :category %>

    <%= render "/shared/form/md_editor", f: f, field: :description %>

    <%= render 'shared/form/file_field', f: f, field_name: :image, hint: 'This is the main image that will appear in the listing for this category.' %>

    <p>Please try to limit the amount of pictures you upload to 5.</p>
    <%= render '/shared/form/sections/gallery', f: f %>

    <br>
    <%= link_to_remove f, link_text: 'Remove category' %>
    <hr>
</div>

