<h1><%= @title %></h1>

<p>
  <%= link_to tree_admin_techies_url, class: 'btn' do %>
    <i class="fa fa-bar-chart" aria-hidden=”true”></i> Tree
  <% end %>
</p>

<div class="row">
    <div class="span12">
        <%= search_form_for @q, builder: SimpleForm::FormBuilder, url: :admin_techies, html: { id: 'search', class: 'form-search form-inline'} do |f| %>
            <%= f.input_field :name_cont, placeholder: 'Name',  required: false %>
        <% end %>
    </div>
</div>

<table class="table">
  <tr>
    <%= content_tag :th, sort_link(@q, :name, 'Name') %>
    <% if can? :edit, Techie %>
      <th></th>
    <% end %>
  </tr>

  <% @techies.each do |techie| %>
    <tr>
      <%= get_link techie, :show, wrap_tag: 'td' %>

      <%= get_link techie, :edit, wrap_tag: 'td' %>
    </tr>
  <% end %>
</table>

<br />


<%= will_paginate(@techies) %>

<%= get_link Techie, :new %>
