/* From Bootstrap Century */
$sansFontFamily: Helvetica, Arial;
$headingsColor:  #dc143c;
$linkColor:      #dc143c;

@import "bootstrap-extensions";

@import url(https://fonts.googleapis.com/css?family=Gafata);

#logo {
    height: 130px;
}

.header {
    margin-top: 10px;
    margin-bottom: 20px;
    //background-color: white;
}

h1,h2,h3,h4,g5,h6 {
    font-family: Gafata, Arial
}

h3 {
    font-size: 20px;
}

#side {
    border-left: 1px solid #D1D1D1;
    padding: 10px 0 20px 10px;
}

.content {
    margin-top: 20px;
}

#nav {
    margin: 0 -12px -25px -12px;
    width: 100%;

    width:          calc(100% + 24px);
    width:     -moz-calc(100% + 24px);
    width:  -webkit-calc(100% + 24px);

    text-align: justify;
}

#nav:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#nav li {
    display: inline-block;
    float: none;
}

#nav a {
    font-weight: bold;
    font-size: 20px;
    color: #660000;
}

#nav_minor {
    margin-right: -12px;
}

.author {
    font-weight: bold;
}

.seasons-accordion h4 {
    margin: 0;
}

.seasons-accordion .accordion-heading {
    padding: 10px;
}

.seasons-accordion .accordion-toggle {
    padding: 0;
}

.carousel-caption h4 {
    display: inline-block;
}

.carousel-caption a {
    color: #ffffff;
}

.carousel-caption a:hover {
    text-decoration: none;
}

.carousel-inner-mobile {
    background: #333333;
}

.mobile-carousel {
    padding: 15px;
}

.mobile-carousel p {
    color: white;
    line-height: 20px;
}

.tweet-date {
    float: right;

    color: $grayLight;
    font-size: 0.8em;
}

/* Responsive Stuff */
@media (max-width: 979px) and (min-width: 768px) {
  #nav li {
    padding: inherit;
  }
}

@media (max-width: 767px) {
  #nav_minor {
    float: none;
    margin-bottom: 5px;
  }

  #nav_minor li {
    float: none;
  }

  #nav_collapse {
    float: none;
    margin-bottom: 5px;
  }

  #nav_collapse li {
    float: none;
  }

  #nav {
    margin-top: 0px;
    margin-left: 0px;
    text-align: left;
    width: 100%;
  }

  #nav li {
    padding: inherit;
    display: block;
  }
}