<% content_for :head do %>
  <%= javascript_include_tag "admin/users" %>
<% end %>

<h1><%= @title %></h1>

<%= search_form_for @q, builder: SimpleForm::FormBuilder, url: :admin_users, html: { id: "search", class: "form-search form-inline" } do |f| %>
  <%= f.input_field :full_name_cont, placeholder: "Name",  required: false %>
  <%= f.input_field :email_cont,     placeholder: "Email", required: false %>

  <%= f.input :show_non_members, label: "Show Non-Members", input_html: { id: "show_non_members", checked: params[:show_non_members] == "1" ? true : false, name: "show_non_members" }, as: :boolean %>
  
  <%= f.submit :Search, class: 'btn btn-primary' %>

  <%= f.submit :Random, class: 'btn' %>
<% end %>

<table class="table">
    <tbody>
        <tr>
          <th>Name</th>
          <th>Email</th>

          <% if can? :edit, User%>
            <th></th>
          <% end %>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user_link(user, true) %></td>
            <td><%= user.email %></td>
              
            <%= get_link user, :edit, wrap_tag: 'td' %>
          </tr>
        <% end %>
    </tbody>
</table>

<% # This paginate_holder is used by the user script so it knows where to place the updated pagination, so please leave it in place. %>
<div class="paginate_holder">
  <%= will_paginate(@users) %>
</div>

<%= get_link User, :new %>