<h1><%= @title %></h1>

<%= display_block("Fault Reports", true) %>

<br />
<br />

<% if @fault_reports.empty? %>
  <p>HAL could not find any fault reports.</p>
<% else %>
  <table class="table table-hover">
    <tr>
      <th>Item</th>
      <th>Severity</th>
      <th>Status</th>
      <th>Reported by</th>
      <th>Date reported</th>
      <th>Last updated</th>

      <% if can? :edit, FaultReport %>
        <th></th>
      <% end %>
    </tr>

    <% @fault_reports.each do |fault_report| %>
      <tr class="<%= fault_report.css_class %>">
        <td><%= link_to fault_report.item, admin_fault_report_path(fault_report) %></td>
        <td><%= fault_report.severity.humanize %></td>
        <td><%= fault_report.status.humanize %></td>
        <td><%= fault_report.reported_by_name %></td>
        <td><%= l fault_report.created_at, format: :short %></td>
        <td><%= l fault_report.updated_at, format: :short %></td>

        <%= get_link fault_report, :edit, wrap_tag: 'td' %>
      </tr>
    <% end %>
  </table>

  <%= will_paginate(@fault_reports) %>
<% end %>

<%= get_link FaultReport, :new %>
