<% content_for :content do %>
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list well">
        <% @subpages.each do |subpage| %>
          <li><%= get_subpage_link(@controller, subpage) %></li>
        <% end %>
      </ul>
    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/#{current_environment(request.fullpath)}" %>
